

@model IEnumerable<QLTours.Models.doan>

@{
    ViewBag.Title = "Tra cứu thông tin khách hàng   ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Tra cứu thông tin đoàn </h2>
<br />
<p>


    <!-- 1. Đoạn cần thêm -->
    @using (Html.BeginForm("tracuuthongtin", "doans", FormMethod.Get))
    {
    <p>
        Tìm theo ID đoàn: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />
    </p>
}
    <!-- Kết thúc -->
    </p><br />

    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayVe)
            </th>


            <!-- 2. Đoạn cần thêm-->
            <th>
                @Html.DisplayNameFor(model => model.ChiTietChuongTrinh)
            </th>
            <!-- Kết thúc -->


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayVe)
                </td>


                <!-- 3. Đoạn cần thêm-->
                <td>
                    @Html.DisplayFor(modelItem => item.ChiTietChuongTrinh)
                </td>
                <!-- Kết thúc -->



            </tr>
        }

    </table>